#content5-3 .caption h3 {
	color: #fff !important;
}
#content5-3 P {
	color: #fff !important;
}
#msg-box2-5 h2 {
	color: #252525 !important;
}
#msg-box2-5 p {
	color: #252525 !important;
}
#msg-box2-5 H2 {
	text-align: left !important;
	color: #ffffff !important;
}
#msg-box2-6 h2 {
	color: #252525 !important;
}
#msg-box2-6 p {
	color: #252525 !important;
}
#msg-box2-6 H2 {
	text-align: left !important;
}
#msg-box1-11 h2 {
	color: #fff !important;
}
#msg-box1-11 p {
	color: #fff !important;
}
#msg-box1-12 h2 {
	color: #fff !important;
}
#msg-box1-12 p {
	color: #fff !important;
}
